@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {



    color: black;
    height: 100%;

    box-sizing: border-box;

}

.box {}

.topo {
    margin: 5%;
    font-size: 40px;
    font-family: "Lora", serif;
    display: flex;
    justify-content: center;



}

.corpo {
    display: flex;
    align-items: center;

}

.secao {
    border: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgba(127, 127, 150, 0.428);
    border-radius: 10px;
    ;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


.imagem {
    width: 55rem;
    height: 40rem;


}




.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: azure;
}

.Niet {
    padding: 10px;
    background-color: rgba(113, 125, 195, 0.241);
    border: solid rgb(25, 25, 25) 2.5px;
    text-decoration: none;
    colo
}

.camus {
    padding: 10px;
    background-color: rgba(113, 125, 195, 0.241);
    border: solid rgb(25, 25, 25) 2.5px;
    text-decoration: none;
    col
}

.espino {
    padding: 10px;
    background-color: rgba(113, 125, 195, 0.241);
    border: solid rgb(25, 25, 25) 2.5px;
    text-decoration: none;
    col
}